/* header.component.css */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  background-color: #C1AEFC;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 100px;
  height: 100px;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: aqua;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
