<div class="header">

  <div class="logo">
    <a href="homepage/home">
    <img src="assets/img/logo1.jpg" alt="Logo">
    </a>
  </div>
  <div class="header-content">
    <div class="dropdown" data-dropdown>
      <button class="link" data-dropdown-button>Category</button>
      <div class="dropdown-menu">
        <div>
          <div class="dropdown-links">
            <a href="category/create" class="link">Create</a>
            <a href="category/list" class="link">List</a>
            <a href="category/edit" class="link">Edit</a>
          </div>
        </div>
      </div>
    </div>

  <div class="dropdown" data-dropdown>
    <button class="link" data-dropdown-button>Product</button>
    <div class="dropdown-menu">
      <div>
        <div class="dropdown-links">
          <a href="product/create" class="link">Create</a>
          <a href="product/list" class="link">List</a>
          <a href="product/edit" class="link">Edit</a>
          <a href="product/detail" class="link">Detail</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown" data-dropdown>
    <button class="link" data-dropdown-button>Users</button>
    <div class="dropdown-menu">
      <div>
        <div class="dropdown-links">
          <a href="user/list" class="link">List</a>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

