/* Font declaration */
@font-face {
  font-family: 'CornDemo';
  src: url('/assets/font/Corn_demo/CornDemo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Header styles */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  background-color: #C1AEFC;
}

/* Header content arrangement */
.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Logo styles */
.logo {
  margin-right: auto;
}

.logo img {
  width: 100px;
  height: 100px;
}

/* Link styles (dropdown) */
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #7cfaff;
  font-family: CornDemo, serif;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

/* Link styles (navbar) */
.nav-link {
  background: none;
  border: none;
  text-decoration: none;
  color: #7cfaff;
  font-family: CornDemo, serif;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

/* Dropdown and hover styles */
.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: rgba(128, 111, 155, 0.65);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

/* Dropdown menu display when active */
.dropdown.active > .nav-link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Dropdown links styles */
.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: normal;
}
