/* Font declaration for custom font */
@font-face {
  font-family: 'CornDemo';
  src: url('/assets/font/Corn_demo/CornDemo-Regular.ttf') format('truetype'); /* Path to the font file */
  font-weight: normal;
  font-style: normal;
}

/* Logo styles */
.logo img {
  width: 50px;
  height: 50px;
}

.logo {
  margin-right: 10px;
}

/* Footer styles */
.footer {
  background-color: #C1AEFC;
  padding: 10px;
}

/* Footer content arrangement */
.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer text styles */
.footerText {
  font-family: 'CornDemo';
  color: #ffffff;
  font-size: 12px;
}
