<div class="introduction">

  <div class="home-background">
    <img src="assets/img/home-background.avif" alt="background">
  </div>

  <div class="glassBox">
    <div class="intro-text">
      <h1>Welcome to the shop!</h1>
      <p>
      We have variety of products you can choose from :)
      </p>
    </div>
    <div class="cta">
      <button class="cta-product" routerLink="product/list">Products</button>
      <button class="cta-login" routerLink="auth/login">Login</button>
    </div>
  </div>
</div>



