/* Styles for the form container */
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Styles for the form itself */
form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Styles for labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Styles for text and password input fields */
input[type="text"],
[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Styles for buttons */
button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add space/margin to the Register button */
.cta-register {
  margin-left: 40px;
}
